<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520881115656-e14k5pcrklmsih46r01nh1fm9gt4oaf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520881115656-e14k5pcrklmsih46r01nh1fm9gt4oaf0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>520881115656-a76c2vaojcsa2kj1qk243eclfna6j6ff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgylLbnzngRGnumT5dnyfx4foQ2Qdu3dY</string>
	<key>GCM_SENDER_ID</key>
	<string>520881115656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lazycatlabs.auths.stg</string>
	<key>PROJECT_ID</key>
	<string>sample-49e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-49e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520881115656:ios:db518045ccad29fffd77bd</string>
</dict>
</plist>